#splash {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#splash img {
  width: 200px;
}
#splash p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.dot {
  animation: dot-animation 1s infinite;
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes dot-animation {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
